# Files that might appear in the root of a volume
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
bun.lock

.vscode
.idea
.DS_Store
.env
.env.local
.env.development.local
